<%- include("../layouts/header.ejs") %>
<h1>Hello this is admin page</h1>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Password</th>
        </tr>
    </thead>
    <tbody>
        <% userDetails.forEach((data)=>{%>
            <tr>
                <td><%= data.username %></td>
                <td><%= data.email %></td>
                <td><%= data.password %></td>
                <td><a href="/admin/editUser/<%=data._id%>">Edit</a></td>
                <td><a href="/admin/delete/<%=data._id%>">Delete</a></td>
            </tr>
        <%})%>
    </tbody>
</table>
<a href="/logout">Logout</a>
<%- include("../layouts/footer.ejs") %>